.area-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 20px;
    padding: 20px;
    gap: 20px;
    background-color: var(--color-blue-1);
}

.card {
    padding: 20px;
    border-radius: 8px;
    background-color: var(--color-neutro-1);
}

.card h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

.line {
    margin-bottom: 20px;
    border: 2px solid var(--color-neutro-2);
}

.info-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.esquerda h2 {
    font-size: 22px;
}

.esquerda p {
    font-size: 18px;
}

.direita p {
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
    border: 2px solid var(--color-neutro-2);
}

.acoes-card{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.btn-aceitar, .btn-rejeitar{
    cursor: pointer;
    background-color: var(--color-red-3);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: var(--color-neutro-1);
    font-size: 16px;
}

.btn-aceitar{
    background-color: var(--color-green-1);
}

.btn-aceitar:hover, .btn-rejeitar:hover{
    opacity: 0.7;
}